/* .custom-select {
  position: relative;
  display: inline-block;
  width: 200px;
}

.custom-select select {
  display: none;
}

.custom-select summary {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.custom-select summary:hover {
  background-color: #f0f0f0;
}

.custom-select[open] summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.custom-select ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.custom-select li {
  padding: 10px;
}

.custom-select li:hover {
  background-color: #f0f0f0;
} */
